html {
    height: 100%;
}

body {
    background: #452635;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

footer {
    text-align: center;
    background: #51111f;
    height: 160px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2em;
    flex-shrink: 0;
}

.instagram {
    padding: 1em;
    width: 4em;
}

.instagram:hover {
    width: 5em;
}

.copyright {
    padding: 2em;
    color: whitesmoke;
}
