{% extends "layout.html" %}

{% block content %}
<article class="blog-article">
    {% if blog[7] %}
    <audio src="{{ url_for('static', filename='songs/' + blog[7]) }}" autoplay hidden></audio>
    {% endif %}

    <div class="article-header">
        <h1>{{ blog[0] }}</h1>
        <div class="article-meta">
            <span class="author">Por <strong>{{ blog[1] }}</strong></span>
            <span class="divider"></span>
            <span>{{ blog[2] }}</span>
        </div>
    </div>

    <hr class="article-divider">

    {% if blog[5] %}
    <img src="{{ blog[5] }}" alt="" class="article-image">
    {% endif %}

    <div id="entrada">{{ blog[3] | safe }}</div>
</article>
{% endblock %}
