{% extends "layout.html" %}

{% block content %}
    <div>
        <div class="blog">
            <h1 style="color: whitesmoke">Nueva entrada</h1>
        </div>
        
        <form action="/blog/{{6}}/editar/{{blog[0]}}" method="post" enctype="multipart/form-data">
            <div class="mb-3" style="color: whitesmoke">
                <label for="exampleInputEmail1" class="form-label">Título</label>
                <input type="text" class="form-control" name="title" placeholder="Escribe el título de la entrada" value="{{blog[2]}}" required>
            </div>
            <div class="mb-3" style="color: whitesmoke">
                <label for="exampleInputEmail1" class="form-label">Descripción</label>
                <input type="text" class="form-control" name="description" placeholder="Describe brevemente el contenido" value="{{blog[3]}}" required>
            </div>
            <div class="mb-3" style="color: whitesmoke">
                <label for="exampleInputEmail1" class="form-label">Imagen</label>
                <input type="text" class="form-control" name="img" placeholder="Pega la ruta de la imagen" value="{{blog[4]}}" required>
            </div>
            <div class="mb-3" style="color: whitesmoke">
                <label for="exampleInputEmail1" class="form-label">Ruta (URL)</label>
                <input value="{{blog[6]}}" type="text" class="form-control" name="url" placeholder="escribe-el-titulo-separado-por-guiones (Sin signos ni tildes)" required>
            </div>
            <div class="mb-3" style="color: whitesmoke">
                <label for="exampleInputAudio" class="form-label">Audio</label>
                <input type="file" accept="audio/*" name="song" value="{{blog[8]}}" required>
            </div>
            <textarea name="blog">{{blog[7]}}</textarea>
            <br>
            <button type="submit" class="btn" style="background: #6E6702 !important; color: whitesmoke">Actualizar</button>
            <a class="btn" href="/" style="background: #6E6702 !important; color: whitesmoke">Volver</a>
        </form>

        <script>
            CKEDITOR.replace('blog');
        </script>
    </div>
{% endblock %}