<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" type="image/x-icon" sizes="96x96" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">
    <script src="//cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

    <title>{{title}}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="text-align: center !important">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='img/logo.png')}}" alt="logo" style="width: 60px; border-radius: 5px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        {% if 'username' in session %}
                            <li class="nav-item">
                                <a class="nav-link" href="/blog/nuevo-blog">Crear nueva entrada</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Cerrar sesión</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Iniciar sesión</a>
                            </li>
                        {% endif%}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% if 'username' in session %}
    <div class="container m-2">
        <h5 style="color: #c0b303;"><em>Hola {{ session['username'].capitalize() }}</em></h5>
    </div>
        
    {% endif %}
    <div class="container">
        {% block content%}
        {% endblock %}
    </div>

    <footer>
        <label style="color: whitesmoke">Queen</label>
        <a href="https://www.instagram.com/reymileac/" target="_blank"><img class="instagram" src="{{ url_for('static', filename='img/instagram.png')}}" alt=""></a>
        <p class="copyright"><em>Desarrollado por: Luis Peláez copyright 2022</em></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='js/escribirBlog.js')}}></script>
</body>

</html>